<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;" width="586">
  <tbody>
    <tr>
      <td align="center" style="padding: 20px 10px 20px 10px; color: #333333; font-size: 12px; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; line-height: 1em; font-weight: 400;" valign="top">
        <p>In the past you provided Interntational Signs &amp; LED Exhibition with your email address [Email]. Occasionally, you will receive advertising and marketing messages regarding promotions and services. If you no longer want to receive these messages, please click <unsubscribe>unsubscribe here</unsubscribe> to request to be removed.</p>
      </td>
    </tr>
  </tbody>
</table>
