<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;" width="586">
  <tbody>
    <tr>
      <td align="center" style="padding: 20px 10px 20px 10px; color: #333333; font-size: 12px; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; line-height: 1em; font-weight: 400;" valign="top">
        <p>{{ subject }}</p>
        <p>Problems viewing this email? Select &ldquo;always display images&rdquo; or click <webversion>here to view the online version</webversion>.</p>
      </td>
    </tr>
  </tbody>
</table>
